# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environment variables
.env

# Virtual environment
denv/
env/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

EchoThoughts/test.py